{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <script src="https://kit.fontawesome.com/dcbb15e7da.js" crossorigin="anonymous"></script>
    <title>Settings</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
    <link rel="stylesheet" href="{% static 'CSS/Settings.css' %}" />
    <link rel="stylesheet" href="{% static 'CSS/Formatinside.css' %}" />
</head>
<body>
    <form class="text-form" method="post" name="Nav">
        <h2>
            Navigatie balk
        </h2>
        <input autocomplete="off" type="text" name="Box1" placeholder= "{{ field.Veld1 }}" maxlength="9">
        <input autocomplete="off" type="text" name="Box2" placeholder= "{{ field.Veld2 }}" maxlength="9">
        <input autocomplete="off" type="text" name="Box3" placeholder= "{{ field.Veld3 }}" maxlength="9">
        <input autocomplete="off" type="text" name="Box4" placeholder= "{{ field.Veld4 }}" maxlength="9">
        <h2>
            Logo
        </h2>
        <label for="Logo"> <input type="file" id="Logo" name="Logo" placeholder="Logo"></label>
        <button type="submit" name="nav">Opslaan</button>
        {% csrf_token %}
    </form>
    <!-- <form class="logo" method="post" enctype="multipart/form-data" name="Photo">
        <h2>
            Logo
        </h2>
        {% csrf_token %}
    </form> -->
</body>
</html>