{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <script src="https://kit.fontawesome.com/dcbb15e7da.js" crossorigin="anonymous"></script>
    <title>Veld 2</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
    <link rel="stylesheet" href="{% static 'CSS/Veld2.css' %}" />
    <link rel="stylesheet" href="{% static 'CSS/Formatinside.css' %}" />
</head>
<body>
    <main>
        <div class="field-game">
            <div class="game-text">
                <h1>Wedstrijd</h1>
            </div>
            <div class="picture-game">
                <img src="{% static 'IMG/Hockeyfield.png' %}" alt="">
            </div>
            <form class="controls-game" method="post">
                <button {% if lamp001_bool %} class="lamp-format lamp-aan-format" {% else %} class="lamp-format lamp-uit-format" {% endif %} type="submit" name="Lamp1">{{ lamp1 }}</button>
                <button {% if lamp002_bool %} class="lamp-format lamp-aan-format" {% else %} class="lamp-format lamp-uit-format" {% endif %} type="submit" name="Lamp2">{{ lamp2 }}</button>
                <button {% if lamp003_bool %} class="lamp-format lamp-aan-format" {% else %} class="lamp-format lamp-uit-format" {% endif %} type="submit" name="Lamp3">{{ lamp3 }}</button>
                <button {% if lamp004_bool %} class="lamp-format lamp-aan-format" {% else %} class="lamp-format lamp-uit-format" {% endif %} type="submit" name="Lamp4">{{ lamp4 }}</button>
                <button {% if lamp005_bool %} class="lamp-format lamp-aan-format" {% else %} class="lamp-format lamp-uit-format" {% endif %} type="submit" name="Lamp3">{{ lamp5 }}</button>
                <button {% if lamp006_bool %} class="lamp-format lamp-aan-format" {% else %} class="lamp-format lamp-uit-format" {% endif %} type="submit" name="Lamp4">{{ lamp6 }}</button>
                {% csrf_token %}
            </form>
        </div>
        <div class="field-practice">
            <div class="practice-text">
                <h1>Training</h1>
            </div>
            <div class="picture-practice">
                <img src="{% static 'IMG/Hockeyfield-Practice.png' %}" alt="">
            </div>
            <form class="controls-practice" method="post">
                <button {% if lamp001_bool %} class="lamp-format lamp-aan-format" {% else %} class="lamp-format lamp-uit-format" {% endif %} type="submit" name="Lamp1">{{ lamp1 }}</button>
                <button {% if lamp002_bool %} class="lamp-format lamp-aan-format" {% else %} class="lamp-format lamp-uit-format" {% endif %} type="submit" name="Lamp2">{{ lamp2 }}</button>
                <button {% if lamp003_bool %} class="lamp-format lamp-aan-format" {% else %} class="lamp-format lamp-uit-format" {% endif %} type="submit" name="Lamp3">{{ lamp3 }}</button>
                <button {% if lamp004_bool %} class="lamp-format lamp-aan-format" {% else %} class="lamp-format lamp-uit-format" {% endif %} type="submit" name="Lamp4">{{ lamp4 }}</button>
                <button {% if lamp005_bool %} class="lamp-format lamp-aan-format" {% else %} class="lamp-format lamp-uit-format" {% endif %} type="submit" name="Lamp3">{{ lamp5 }}</button>
                <button {% if lamp006_bool %} class="lamp-format lamp-aan-format" {% else %} class="lamp-format lamp-uit-format" {% endif %} type="submit" name="Lamp4">{{ lamp6 }}</button>
                {% csrf_token %}
            </form>
        </div>
    </main> 
    <script src="{% static 'JS/Nav.js' %}"></script>   
    <script src="{% static 'JS/Collorchange_Button.js' %}"></script> 
</body>
</html>